# Ignore build output
/dist
/.next
/build

# Ignore dependencies
/node_modules
public
*.lock
*.svg
*.png
*.jpg
*.jpeg


# Ignore config
*.config.js
*.config.cjs
*.config.ts

# Ignore lockfiles and logs
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log

# Ignore test snapshots
**/__snapshots__/**

"plugins": ["unused-imports"],
"rules": {
  "unused-imports/no-unused-imports": "error",
  "unused-imports/no-unused-vars": [
    "warn",
    {
      "vars": "all",
      "varsIgnorePattern": "^_",
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }
  ]
}